* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
#canvas {
  border: 1px solid black;
  margin: 50px;
  cursor: default;
}

#canvas.canvas-drawing{
  cursor: crosshair
}

#canvas.cursor-move {
  cursor: move;
}

#toolbar{
  background-color: white;
  width: max-content;
  position: sticky;
  left: 25vw;
  top: 20px;
  display: flex;
  gap: 10px;
  padding: 4px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0.9px 0px rgba(0, 0, 0, .17), 0px 0px 3px 0px rgba(0, 0, 0, .08), 0px 7px 14px 0px rgba(0, 0, 0, .05);
  color: rgb(27, 27, 31);
}
#toolbar i{
  cursor: pointer;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

#toolbar i:hover{
  background-color: #f1f0ff;
}

#toolbar i:active{
  border: 1px solid #4440bf;

}

#toolbar .active-tool:hover{
 background-color: #e0dfff;
}

#toolbar .active-tool{
 background-color: #e0dfff;
}