* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
#canvas {
  border: 1px solid #ccc;
  margin: 50px;
  cursor: default;
}

#canvas.canvas-drawing{
  cursor: crosshair
}

#shape-tools{
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  width: max-content;
  margin: auto;
}

#shape-tools > button{
  padding: 5px 10px;
  cursor: pointer;
}